.baner {
    width: 1115px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    margin-top: 50px;
    overflow: hidden;
}

.baner div {
    text-align: center;
    font-size: 27px;
}

.baner-container {
    display: flex;
    justify-content: center;
}

.card-layout {
    display: flex;
    justify-content: center;
}

.card-container {
    display : flex;
    justify-content: space-around;
}

.green-background {
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #5bab7c;
    background-image: linear-gradient(45deg, #4e976d 0, rgba(0, 105, 92, 0) 100%);
    font-size: 1.5rem;
    text-align: center;
}

.green-background img {
    width: 72px;
    height: 72px;
    margin: auto auto;  
}

.green-background div {
    margin-bottom: 20px;
}

.Card {
    margin:10px 20px;
    margin-top: 50px;
    text-align: center;
    width: 250px;
    height: 360px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 6px 10px 0 rgba(30, 41, 64, 0.2), 0 3px 4px 0 rgba(60, 71, 94, 0.05), 0 1px 3px 0 rgba(144, 202, 249, 0.12);
}

.Card .card-text {
    margin-top: 20px;
}

.main-container-title {
    background: #fff;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    vertical-align: top;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

hr {
    border: 1px solid grey;
    display: inline-block;
    margin: 3px 5%;
}

.space-between {
    justify-content: space-around
}

.how-it-works-container {
    margin-top: 100px;
}

.menu-container {
    display: flex;
    margin-top: 90px;
    justify-content: center;
}