.button {
    margin-top: 15px;
    background-color: white;
    border: 1px solid black;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
}

.button:hover {
    background-color: #449d44;
    border-color: #419641;
    color: white
}

.form-container {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
}

.form-div {
    display: flex;
    flex-direction: column; 
} 